doctype html
html(lang="en")
  head
    title="Legacy Code Conf"
    link(
      rel="stylesheet"
	    type="text/css"
	    href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(
      rel="stylesheet"
	    type="text/css"
	    href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
  body
    h1 Legacy Code Conf
    nav(class="navbar navbar-default navbar-fixed-bottom"
        role="navigation")
      div.navbar-header
        span.navbar-brand="Register your interest"
      include ./partials/mailing-list-signup.jade
