<!-- Begin MailChimp Signup Form -->
form#mc-embedded-subscribe-form.navbar-form(
     action="https://legacyconf.us12.list-manage.com/subscribe/post?u=377603b8a31f8f15bd177c7d1&amp;id=f2930d840b"
     method="post"
     name="mc-embedded-subscribe-form"
     target="_blank"
     novalidate)
  div.form-group
    label.sr-only(for="mce-EMAIL")="Email Address"
    input#mce-EMAIL.form-control(
          type="email"
          name="EMAIL"
          placeholder="charlie.rogers@example.com")
  div.form-group
    label.sr-only(for="mce-FNAME")="First Name"
    input#mce-FNAME.form-control(
          type="text"
          name="FNAME"
          placeholder="Charlie")
  div.form-group
    label.sr-only(for="mce-LNAME")="Last Name"
    input#mce-LNAME.form-control(
          type="text"
          name="LNAME"
          placeholder="Rogers")
  div.form-group
    label.sr-only(for="mce-INTEREST")="Interest"
      span.asterisk="*"
    select#mce-INTEREST.form-control(name="INTEREST")
      option(value="")="Please select..."
      option(value="Attendee")="Attendee"
      option(value="Sponsor (Vendor)")="Sponsor (Vendor)"
      option(value="Sponsor (Recruitment)")="Sponsor (Recruitment)"
      option(value="Other")="Other"
  div(style={'position': 'absolute', 'left': '-5000px'}
      aria-hidden="true")
    input(type="text"
          name="b_377603b8a31f8f15bd177c7d1_f2930d840b"
          tabindex="-1")
  div.form-group
    button.btn.btn-default(type="submit" name="subscribe")="Subscribe"
script(type='text/javascript'
       src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
script(type='text/javascript').
       (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='INTEREST';ftypes[3]='dropdown';}(jQuery));var $mcj = jQuery.noConflict(true);
